venv
media/
testy.py
.DS_Store
trial_videos
trial_vids
docker-compose.txt
__pycache__
scratch.js
scratch.py
scratch.html
media/cluster_csv
vids_clusters_keywords.csv
2025_vids
huggingface_vids/
media/
nist_trecvid_resources/
resources/
pages/migrations
pages/__pycache__
nist_app/__pycache__
registration/migrations
registration/__pycache__
# .env
# .env*
