.main-login{
    background-image: url("/static/media/tyler_hall.jpg");
    border-radius: 20px;
    text-align: center;
   
    color: rgb(14, 4, 46);
    font-weight: 800;
    font-size: larger;
    flex:2;
}


/* 
#p-login-form{   
    
    background-color: rgb(134, 168, 185);
    width: fit-content;
    padding: 15px;
    margin: 10% auto;
    border-radius: 20px;
    
}

#p-signup-form{   
    
    background-color: rgb(37, 150, 190);
    width: fit-content;
    padding: 15px;
    margin: 10% auto;
    border-radius: 20px;
    
} */
.row-align{
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    padding: 2px;
  
    
}

/* .login-header{
    color: rgb(78, 3, 3);
    background-color: white;
    font-weight: 800;
    font-size: larger;
    padding: 5px;
    border-radius: 20px;
}
.login-main{
    position: absolute;
    z-index: 9999;
    width: 100%;
    margin: 3px;
    padding: 6px;
    border-radius: 20px;
    text-align: center;
   
}

#p-signup-form input[type="text"], input[type="password"], input[type="email"]{ 
    padding: 5px 5px; 
    line-height: 8px;
    width: 80%;
    margin-bottom: 2px;
    border-radius: 20px;
}




.login-form {
    
    border-radius: 20px;
    text-align: center;
    background-size:100% 100%;
    height: 495px;
    color: rgb(14, 4, 46);
    font-weight: 800;
    font-size: larger;
    
}

#upload_videos_form{
    padding: 10px;
    font-size: x-large;
    font-family: sans-serif;
} */

.form-row div > span {
    font-size:x-small;
}

input[type="text"], input[type="password"], input[type="email"]{
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;

    background-color: #f9f9f9;
    color: #333;

    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"], input[type="password"], input[type="email"]:focus{
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

[name="upload_videos"], input[type="submit"] {
  background-color: rgb(14, 4, 46);;
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="file"]:hover{
    border-color: #999;
}

input[type="file"]{
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: rgb(14, 4, 46);
  color: #fff;
  cursor: pointer;
}


.form-column {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-top: 3px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }

  .form-column > * {
    flex-grow: 1;
    margin: 10px 0;
  
  }

  .row-align * {
    padding: 5px;
  }
  
  