html,body {
    height:100%;
    padding:0;
    margin:0;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}

.tm_banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 5px 0 0 5px;
}

#name_plate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.tm_main_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px 5px 5px;
}

#tm_aside{
    width: 25%;
    border-right: 1px solid black;
    padding: 0 5px 5px 5px;
}


.tm_vid_main{
    padding: 0 5px 5px 5px;
}

#tm_video_list{
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    background: rgb(59, 124, 157);
    border-radius: 10px;
    padding: 8px;
    color: white;
    text-align: center;
 }

 .tm_headings{
    background-color: rgb(239, 239, 242);
    text-align: center;
    padding: 3px;
    border-radius: 10px;
 }

 .display-none{
    display: none;
 }

 #tm-login{
    cursor: pointer;
    border-bottom: 2px solid black;
    border-radius: 10px;
 }

 #tm_login_form{
    position: fixed;
    width: 20%;
    right: 2%;
 }

 a{
    text-decoration: none;
 }

 .tm_headings{
    text-align: center;
    margin-top: 5px;
 }

 .sign_up_div{
    text-align: center;
 }

 .nist-button{
    background-color: rgb(134, 168, 185);
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 6px;
    cursor: pointer;
    font-size: large;
}

#approve_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 50%;
   

}
