{% if users_processed_videos == None %}
<div class="admin-dashboard">
    
    <h2 style="text-align: center;"> Please click upload Videos button above to begin...</h2>
</div>

{% else %}
<div class="admin-dashboard">
    
    <h2 style="text-align: center;"> Summary of Selected Video by Users</h2>
    <div id="annotation-stats" class="display-none">
        <h3 class="text-align-center">Annotation Statistics Across Categories</h3>
        <div class="annotation-stats-display">
            <table id="annotation-stats-table">
                <tr>
                    <th>Annotator</th>
                    <th>Top Category (TC)</th>
                    <th>Number of Video in TC</th>
                    <th>Total Accepted Videos </th>
                </tr>
                
            </table>
            
        </div>
        
        <button id="export-all-videos" class="nist-button "> Export All Videos</button>
        <div id="download-jobs" class="display-none">
            <p id="csv-file"></p>
            <p id="videos-zip"></p>
        </div>
    </div>
    <div id="custom-confirm" class="confirm-overlay">
        <div class="confirm-box">
            <p> Are you sure you want to export all videos?</p>
            <button  id="confirm-yes" class="confirm-btn nist-button">Yes</button>
            <button id="confirm-cancel" class="confirm-btn nist-button">No</button>
        </div>
    </div>

    <div class="row-align_base">
        <!-- <div> haha</div>
        <div>hana</div>
        <div>hagi</div> -->
        {% for user, categories in users_processed_videos.items %}
            <div class="video_categories"> 
                <h3> Video Categories - {{user}}  <span class="btn_accept_videos display-none"> {% if user.userreg.admin_approved %} Approved {% else %} Approve Videos {% endif %} </span></h3>
                <ul>
                    {% for category in categories %} 
                    <li class="user-processed-categories">
                        {{category}}
                    </li>
                    {% endfor %}

                </ul>
                
            </div>
        {% endfor %}
    </div>
    <div id="video_inspection" class="display-none">
        <div class="row-align_base">
            <div id="video_list_admin">
                <h2> Video List </h2>
                
            </div>

            <div id="video_preview_admin">
                <h2> Video Preview </h2>
                <div style="display: flex; justify-content: center;" id="video_player_admin">

                </div>
                <div id="app_rej_btn_admin">

                </div>
            </div>
        </div>
    </div>
    
</div>

{% endif %}

