{% load check_user_group %}
{%load get_unprocessed_videos %}
{% load get_total_videos %}

<div class="tm_main_body">
                        
    {% block aside %}
    <div id="tm_aside">
        <h3 class="tm_headings">
            Video Categories 
        </h3>
        <div id="vid_cat_list">
            
            {% for category in categories %}
            <div style="padding-left: 10px; padding-right: 10px;" class="categories">
                <h3 class="cat_headings">
                    {{category.cluster_keywords}} <i class="progress">|{{category|get_unprocessed_videos:request.user}}/{{category|get_total_videos}}</i>   <span> Confidence <i class="confidence-value">{{category.cluster_similarity_score}} </i> - <i class="tm-explore"> explore </i> </span> 
                    <span class="cluster_id visibility_hidden" >{{category.cluster_id}}</span>
                    <span class="cluster_group visibility_hidden" >{{category.group}}</span>
                </h3>
            </div>
            {% endfor %}
        </div>
    

    </div>
    {% endblock aside %}

    {% block main %}
    <div class="tm_vid_main">
        {% block video_list %}
        <div id="tm_video_list">
            <h3 id="cat_name" class="tm_headings_temp">
                Image Annoation Job, click explore to begin...
            </h3>
            
            <div id="video_list_disp">
                
            </div>
        </div>
        
        {% endblock video_list %}
        


        {% block video_preview %}
        <div id="tm_preview">
            <h3 class="tm_headings">
                Video Preview
            </h3>
            <h4 style="text-align: center;" id="video_name"></h4>
            <h4 style="text-align: center;" id="video_keywords"></h4>
            <div  id="vid_preview">
                <div id="vid_tag">
                    
                
                </div>
                
                
            </div>
            
        </div>
        {% endblock video_preview %}
        
    </div>
    {% endblock main %}
</div>