{% load static%}
{% load check_user_group %}
{%load get_unprocessed_videos %}
{% load get_total_videos %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/forms.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Video Anotation Framework</title>
</head>
<body>
   
    {% block header %}
        <header>
            <div class="tm_banner">
                <div id="logo-nist">
                    <img src="{{ STATIC_URL }}/static/media\nist_logo.jpg" alt="nist logo">
                </div>
                <div style="margin-right: 1%;">
                    <div >
                        {% if request.user.is_authenticated %}
                            <div id="name_plate">
                                <p id="last_name">Welcome {{ request.user}}</p> &nbsp;&nbsp;
                                <a href="{% url 'user_logout' %}"> <input class="nist-button" type="button" value="logout"></a>
                                
                            </div>
                            
                            {% if request.user.is_authenticated and request.user|has_group:"admin" %}
                                <div> <button  class="nist-button" id="upload_videos"> click to upload videos </button></div>
                                <div style="font-weight: 800;"> Processed by All - <i id="processed_by_all" style="color: darkred;">{{all_processed_videos}}/{{total_videos}}</i> </div>
                            {% else %}
                                <div style="font-weight: 800;"> Processed by All - <i id="processed_by_all" style="color: darkred;" class="">{{percentage_process_all_vids}}/{{total_videos}}</i>  </div>
                                <div style="font-weight: 800;"> Proccessed by User - <i id="processed_by_user"  style="color: darkred;">{{user_processed_videos}}/{{total_user_assigned_vids}}</i> </div>
                            {% endif %}
                        {% else %}
                            <p id="tm-login"> login - to use the application</p>
                            <span style="font-size: small; cursor: pointer;"> <a href="{% url 'signup' %}" > not a user? - sign-up </a></span>
                            </div>
                            
                            <div class="display-none" id="tm_login_form">
                                <form action="login" method="POST" id="login_form">
                                    <input type="text" name="username" id="username" placeholder="username">
                                    <input type="password" name="password" id="password" placeholder="password">
                                
                                    <a href="{% url 'user_login' %}"> <input class="nist-button" type="button" value="login"></a>
                                    
                                </form>
                                
                            </div>
                        {% endif %}
                    
                </div>
            </div>
        </header>
    {% endblock header %}
    {% block section %}
        <div class="section">
            {% if request.user.is_authenticated and not request.user|has_group:"admin" %}
                <div id="custom-confirm" class="confirm-overlay">
                    <div class="confirm-box">
                        <p> You already finished annotation. Do you want to restart?</p>
                        <button  id="confirm-restart" class="confirm-btn nist-button">Restart</button>
                        <button id="confirm-cancel" class="confirm-btn nist-button">End</button>
                    </div>
                </div>
            {% endif %}
            <h1 class="tm_headings">NIST Automated Video Annotation Application 
                <div class="actions">
                    {% if request.user.is_authenticated and not request.user|has_group:"admin" %}
                    
                        <span id="end-annotation" class="job-action-btn">
                            {% if not request.user.userreg.finished_job %} 
                                <i>End Annotation</i> 
                            {% else %} 
                                <i id="end-annotation"> Restart Annotation </i> 
                            {% endif %} 
                        </span> 
                      
                    
                        {%elif request.user.is_authenticated and request.user|has_group:"admin"%} 
                            <span id="export-jobs" class="job-action-btn"> Export Jobs </span> 
                    {% endif %}
                </div> 
            </h1> 
            <div class="display-none" id="video_upload">
                <form  action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-column">
                        <div class="form-row">
                            <h3> Upload Videos and Corresponding Cluster Information CSV </h3>
                            <hr>
                        </div>
                        <div id="upload_videos_form" class="form-row">
                                <div class="row-align">
                                    <div class="form-label">
                                        {{project_details.project_type.label}}
                                    </div>
                                    <div >
                                        {{project_details.project_type}}
                                    </div>
                                </div>
                                <div class="row-align">
                                    <div class="form-label">
                                        {{project_details.project_name.label}}
                                    </div>
                                    <div class="form-text-input">
                                        {{project_details.project_name}}
                                    </div>
                                </div>
                                <div class="row-align">
                                    <div class="form-label">
                                        {{project_details.cluster_csv.label}}
                                    </div>
                                    <div class="form-text-input">
                                        {{project_details.cluster_csv}}
                                    </div>
                                </div>
                                <div class="row-align">
                                    <div class="form-label">
                                        {{project_details.annotators.label}}
                                    </div>
                                    <div class="form-text-input">
                                        {{project_details.annotators}}
                                    </div>
                                </div>
                                <div class="row-align">
                                    <div class="form-label">
                                        {{video_upload.video.label}}
                                    </div>
                                    <div class="form-text-input">
                                        {{video_upload.video}}
                                    </div>
                                </div>
                                <div style="justify-content: center;" class="row-align">
                                    <input name="upload_videos" class="nist-button" type="submit" value="Upload Videos"/> 
                                </div>
                                
                                
                            </div>
                        
                       
                    </div>
      
                </form>
                
            </div>

            
            {% if request.user.is_authenticated %} 

                {% if request.user.is_authenticated and request.user|has_group:"admin" %}
                
                    <div class="row-align">
                        {% include "admin.html" %}

                    </div>
                {% else %}
                    <div class="tm_main_body">
                            
                        {% block aside %}
                        <div id="tm_aside">
                            <h3 class="tm_headings">
                                Video Categories 
                            </h3>
                            <div id="vid_cat_list">
                                
                                {% for category in categories %}
                                <div style="padding-left: 10px; padding-right: 10px;" class="categories">
                                    <h3 class="cat_headings">
                                        {{category.cluster_keywords}} <i class="progress">|{{category|get_unprocessed_videos:request.user}}/{{category|get_total_videos}}</i>   <span> Confidence <i class="confidence-value">{{category.cluster_similarity_score}} </i> - <i class="tm-explore"> explore </i> </span> 
                                        <span class="cluster_id visibility_hidden" >{{category.cluster_id}}</span>
                                        <span class="cluster_group visibility_hidden" >{{category.group}}</span>
                                    </h3>
                                </div>
                                {% endfor %}
                            </div>
                        
                    
                        </div>
                        {% endblock aside %}
                    
                        {% block main %}
                        <div class="tm_vid_main">
                            {% block video_list %}
                            <div id="tm_video_list">
                                <h3 id="cat_name" class="tm_headings_temp">
                                    (1) - click explore to begin...
                                </h3>
                                
                                <div id="video_list_disp">
                                    
                                </div>
                            </div>
                            
                            {% endblock video_list %}
                            
                    
                    
                            {% block video_preview %}
                            <div id="tm_preview">
                                <h3 class="tm_headings">
                                   (2) - Video Preview 
                                    <select id="project_type">
                                        <option value="" selected disabled hidden>Switch to QandA</option>
                                        <option value="annotation">Annotation</option>
                                        <option value="image_qa">Image Q&A</option>
        
                                    </select>
                                </h3>
                                <h4 style="text-align: center;" id="video_name"></h4>
                                <h4 style="text-align: center;" id="video_keywords"></h4>
                                <div  id="vid_preview">
                                    <div id="vid_tag">
                                        
                                    
                                    </div>
                                    <div id="question_tag" class="display-none">
                                        <h3>Enter Questions and Answers</h3>
                                        
                                        
                                        <form action="" method="post">{% csrf_token %}
                                            <div class="row-align">
                                                <div class="form-label">
                                                    <label for="question"> Question: </label>
                                                </div>
                                                <div class="form-text-input">
                                                    <textarea spellcheck="true" name="question" id="question" cols="50" rows="10"></textarea>
                                                    <!-- <input maxlength="250" type="text" id="question" name="question"> -->
                                                </div>
                                            </div>

                                            <div class="row-align">
                                                <div class="form-label">
                                                    <label for="answer-one"> Correct Answer: </label>
                                                </div>
                                                <div class="form-text-input">
                                                    <textarea spellcheck="true" name="correct-answer" id="correct-answer" cols="50" rows="20"></textarea>
                                                    <!-- <input maxlength="250" spellcheck="true" type="textarea" id="correct-answer" name="correct-answer"> -->
                                                </div>
                                            </div>

                                            <div class="row-align">
                                                <div class="form-label">
                                                    <label for="answer-two"> Answer Option: </label>
                                                </div>
                                                <div class="form-text-input">
                                                    <textarea spellcheck="true" name="answer-two" id="answer-two" cols="50" rows="20"></textarea>
                                                    <!-- <input maxlength="250" spellcheck="true" type="textarea" id="answer-two" name="answer-two"> -->
                                                </div>
                                            </div>

                                            <div class="row-align">
                                                <div class="form-label">
                                                    <label for="answer-three"> Answer Option: </label>
                                                </div>
                                                <div class="form-text-input">
                                                    <textarea spellcheck="true" name="answer-three" id="answer-three" cols="50" rows="20"></textarea>
                                                    <!-- <input maxlength="250" spellcheck="true" type="textarea" id="answer-three" name="answer-three"> -->
                                                </div>
                                            </div>

                                            <div class="row-align">
                                                <div class="form-label">
                                                    <label for="answer-four"> Answer Option: </label>
                                                </div>
                                                <div class="form-text-input">
                                                    <textarea spellcheck="true" name="answer-four" id="answer-four" cols="50" rows="20"></textarea>
                                                    <!-- <input maxlength="250" spellcheck="true" type="textarea" id="answer-four" name="answer-four"> -->
                                                </div>
                                            </div>

                                            <div class="row-align">
                                                <div class="form-label">
                                                    <label for="answer-five"> Answer Option: </label>
                                                </div>
                                                <div class="form-text-input">
                                                    <textarea spellcheck="true" name="answer-five" id="answer-five" cols="50" rows="20"></textarea>
                                                    <!-- <input maxlength="250" spellcheck="true" type="textarea" id="answer-five" name="answer-five"> -->
                                                </div>
                                            </div>
                                            
                                           
                                        </form>
                                    
                                    </div>
                                    
                                    
                                </div>
                                
                            </div>
                            {% endblock video_preview %}
                            
                        </div>
                        {% endblock main %}
                    </div>
                    
                    <!-- <div id="show-annotation-job" class="display-none">
                        {% include 'annotation.html' %}
                    </div>
                    <div id="show-imageqa-job" class="display-none">
                        {% include 'image-qa.html' %}
                    </div> -->
                    
                {% endif %}
            {% else %}
                <div style="width: max-content;" class="login_form">
                    <form  action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="form-column">
                        <div class="form-row">
                            <h3> Login to use the application</h3>
                            <hr>
                        </div>
                        <div class="form-row">
                            <div class="row-align" > 
                            <div><label for="username"></label> Username</div>
                            <div> <input type="text" name="username" id="username"></div>
                            </div>
                            <div class="row-align"> 
                            <div><label for="password"></label> Password</div>
                            <div> <input type="password" name="password" id="password"></div>  
                            </div>
                            
                        <div class="form-row row-align">
                            <div><input name="login" class="nist-button" type="submit" value="Login"> </div>
                            
                        
                        </div>
                        
                        </div>
        
                    </form>
                </div>
            {% endif %}
            
        </div>
        
    {% endblock section %}   
        
        
        
    {% block footer %}
    <footer>
        <div id="footer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ab quos a sunt voluptas ut commodi iusto alias molestiae itaque et corrupti
            vitae quas dolor, nihil, libero quasi porro ratione aut!
        </div>
    </footer>
    {% endblock footer %}
    
    
    

{% block scripts %}
<script type="module" src="{% static '/scripts/main.js' %}"></script>

{% if request.user.is_authenticated and request.user|has_group:"admin" %}
<script type="module" src="{% static '/scripts/admin.js' %}"> </script>
{% endif %}

{% if request.user.is_authenticated and not request.user|has_group:"admin" %}
<script type="module" src="{% static '/scripts/project_manager.js' %}"></script>
{% endif %}


{% endblock scripts %}
</body>
</html>