{% extends "base.html" %}

{% block section %}
        <div class="section">
            <h1 class="tm_headings">NIST Automatic Video Anotation Application</h1>
            
            <div class="text-align-center">
                

                {% block main %}
                <div class="tm_vid_main">
                    

                    {% block video_preview %}
                    <div id="tm_preview">
                        
                        <div id="p-signup-form">
                            <form  action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                              <div class="form-column">
                                <div class="form-row">
                                  <h3> Registration Form</h3>
                                  <hr>
                                </div>
                                <div class="form-row">
                                  <div class="row-align" > 
                                    <div>{{userreg_form.project_name.label}} </div>
                                    <div> {{userreg_form.project_name}}</div>
                                  </div>
                                  <div class="row-align" > 
                                    <div>{{userreg_form.project_type.label}} </div>
                                    <div> {{userreg_form.project_type}}</div>
                                  </div>
                                  <div class="row-align" > 
                                    <div>{{userreg_form.is_job_admin.label}} </div>
                                    <div> {{userreg_form.is_job_admin}}</div>
                                  </div>
                                  <div class="row-align"> 
                                    <div>{{registration_form.first_name.label}} </div>
                                    <div> {{registration_form.first_name}}</div>  
                                  </div>
                                  <div class="row-align"> 
                                    <div>{{registration_form.last_name.label}} </div>
                                    <div> {{registration_form.last_name}} </div>  
                                  </div>
                                  <div class="row-align"> 
                                    <div>{{registration_form.username.label}} </div>
                                    <div> {{registration_form.username}} </div>  
                                  </div>
                                  <div class="row-align"> 
                                    <div>{{registration_form.email.label}} </div>
                                     <div> {{registration_form.email}} </div>  
                                  </div>
                                  <div class="row-align"> 
                                    <div>{{registration_form.password1.label}} </div>
                                    <div> {{registration_form.password1}} </div> 
                                  </div>
                                  <div class="row-align"> 
                                    <div>{{registration_form.password2.label}} </div>
                                    <div> {{registration_form.password2}} </div> 
                                  </div>
                                </div>
                                <div class="form-row row-align">
                                  <input name="signup" class="nist-button" type="submit" value="Sign-Up"> 
                                 
                                </div>
                                
                              </div>
                
                            </form>
                            
                          </div>
                    </div>
                    {% endblock video_preview %}
                    
                </div>
                {% endblock main %}
            </div>
           
        </div>
        
    {% endblock section %}